<div class="container">

    <image src="../assets/images/404cat.png"class="img-responsive" alt="Responsive image"></image>
    <div class="alert alert-warning" role="alert">
        <h1></h1> </div>
</div>Oops! Oops! Seems like the Cat ate the page

<!--
// This throws a '404 Not Found' error by invoking `error()`.
// Override this method or `error()` to provide custom
// 404 behavior (i.e redirecting to / or showing a warning)

notFound: function(verb, path) {
var ret = this.error(['404 Not Found', verb, path].join(' '));
return (verb === 'get') ? ret : true;
},-->
