<div class="login">
  <div class="login-screen">
      <div class="login-form">
          <form action="/#/account/signup" method="POST">
              <div class="form-group">
                  <input type="text" class="form-control login-field" value="test" placeholder="Username" id="login-name" name="username">
                  <label class="login-field-icon fui-user" for="login-name"></label>
              </div>

              <div class="form-group">
                  <input type="text" class="form-control login-field" value="tEst2" placeholder="Password" id="login-pass" name="password">
                  <label class="login-field-icon fui-lock" for="login-pass"></label>
              </div>

              <div class="form-group">
                  <input type="text" class="form-control login-field" value="test@test.com" placeholder="E-mail" name="email">
                  <label class="login-field-icon fui-mail" for="login-pass"></label>
              </div>

              <div class="form-group">
                  <input type="text" class="form-control login-field" value="test" placeholder="First name" name="fname">
                  <label class="login-field-icon fui-user" for="login-pass"></label>
              </div>

              <div class="form-group">
                  <input type="text" class="form-control login-field" value="test" placeholder="Last name" name="lname">
                  <label class="login-field-icon fui-user" for="login-pass"></label>
              </div>

              <button type="submit" class="btn btn-primary btn-lg btn-block" id="signup-submit" href="#">Sign Up</button>
          </form>
      </div>
    </div>
</div>