<div class="add-book login">
    <div class="add-book-screen login-screen">
        <div class="add-book-form login-form">
			<h5 class="add-book-heading">Add new book</h5><br/>  
			<form action="/#/admin/addbook" method="POST" id="add-book-form">
	              <div class="form-group">
	                  <input type="text" class="form-control" name="book-title" placeholder="add Book Title">
	              </div>
	              <div class="form-group">
	                  <input type="text" class="form-control" name="book-author" placeholder="add Book Author">
	              </div>
	              <div class="form-group">
	                  <input type="text" class="form-control" name="book-category" placeholder="add Book Category">
	              </div>
	              <div class="form-group">
	                   <input type="text" class="form-control" name="book-isbn" placeholder="add ISBN number">
	              </div>
	              <div class="form-group">
	                  <input type="text" class="form-control" name="book-price" placeholder="add Price">
	              </div>
	              <div class="form-group">
	                  <input type="text" class="form-control" name="book-image-url" placeholder="add Book Cover URL">
	              </div>
	              <div>
	              	 <input type="textarea" class="form-control" name="book-description" placeholder="add Book Description">
	              </div>
	              <button type="submit" id='submit-new-book-button' class="btn btn-primary btn-lg btn-bloc">Submit</button>
				<button type="button" class="btn btn-primary btn-lg btn-bloc" onClick="$('#add-book-form').trigger('reset')">Clear</button>
		</div>
    </div>
</div>

