
<div class="container">
	<div class="row">
	    <div class="center-block">
	        <div class="login-form">
				<h5 class="remove-book-heading">Remove book by ID number</h5><br/>  
				<form action="/#/admin/removebook" method="POST" id="remove-book-form">
		              <div class="form-group">
		                  <input type="text" class="form-control" name="id" placeholder="Enter ID to remove" value="Imk5QFmNmG">
		              </div>
		              <button type="submit" id='submit-new-book-button' class="btn btn-primary btn-lg btn-bloc">Remove Book</button>
		         </form>
			</div>
	    </div>
	</div>
</div>
