<div class="admin-root">
	<div class="admin-controls">
		<h6 class="text-center">Admin panel</h6>
		<a href="#/admin/addbook" class="btn btn-block btn-lg btn-inverse">Add Book</a>
		<a href="#" class="btn btn-block btn-lg btn-danger">Remove Book</a>
		<a href="#" class="btn btn-block btn-lg btn-inverse">Add Category</a>
		<a href="#" class="btn btn-block btn-lg btn-danger">Remove Category</a>
		<a href="#" class="btn btn-block btn-lg btn-inverse">Edit Users </a>
		<a href="#" class="btn btn-block btn-lg btn-inverse">Edit Admin </a>
	</div>

	<div class="admin-forms-container" id="admin-forms-container">	
	&nbsp;
	Admin controls loads here!
	</div>
</div>