<div class="container">
    <div class="row">
        <div class="center-block login-form">

            <div class="warning"></div>
            <h5 class="add-book-heading">Add new book</h5><br/>

            <form action="#/admin/addbook" method="POST" id="add-book-form">

                <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="add Book Title">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="author" placeholder="add Book Author">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="category" placeholder="add Book Category">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="isbn" placeholder="add ISBN number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="price" placeholder="add Price" value="10">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="pictureURL" placeholder="add Book Cover URL"
                           value="assets/images/">
                </div>
                <div>
                    <input type="textarea" class="form-control" name="description" placeholder="add Book Description"
                           value="some random descriiption should follow">
                </div>
                <p>&nbsp;</p>
                <button type="submit" id='submit-new-book-button' class="btn btn-primary btn-lg btn-bloc">Submit</button>
                <button type="button" class="btn btn-primary btn-lg btn-bloc" onClick="$('#add-book-form').trigger('reset')">Clear</button>
            </form>
        </div>

    </div>
</div>
