
<div class="container">
	<div class="row">
		<div class="center-block login-form">
	        <h5 class="add-book-heading"><strong>Edit</strong> book details</h5><br/>

			<form id="search-form" class="form-group" action="#/admin/editbook" method="POST">
	            <input type="textarea" id="search-term" class="form-control contact-field" value="" placeholder="Enter the book id" name="id">
	            <button type="submit" class="btn-inverse btn-sm edit-book-submit">Search</button>
	        </form>

			<form action="/#/admin/editbook/save" method="POST" id="edit-book-form">
                <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="add Book Title">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="author" placeholder="add Book Author">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="category" placeholder="add Book Category">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="isbn" placeholder="add ISBN number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="price" placeholder="add Price" value="">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="pictureURL" placeholder="add Book Cover URL">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="bookURL" placeholder="add Kindle Book URL">
                </div>
                <div>
                    <input type="textarea" class="form-control" name="description" placeholder="add Book Description">
                </div>

                <input class="edit-book-hidden" type="hidden" name="id" value="">

                <p>&nbsp;</p>

                <button type="submit" id='submit-new-book-button' class="btn btn-primary btn-lg btn-bloc">Submit</button>
                <button type="button" class="btn btn-primary btn-lg btn-bloc" onClick="$('#add-book-form').trigger('reset')">Clear</button>
			</form>	  
		</div>
	</div>
</div>