<form id="contact_form" action="#" method="POST">
    <div class="row">
        <label for="name">Your name:</label><br />
        <input id="name" class="form-control" name="name" type="text" value="" size="30" /><br />
    </div>
    <div class="row">
        <label for="email">Your email:</label><br />
        <input id="email" class="form-control" name="email" type="text" value="" size="30" /><br />
    </div>
    <div class="row">
        <label for="title">About:</label><br />
        <input id="title" class="form-control" name="title" type="text" value="" size="30" /><br />
    </div>

    <div class="row">
        <label for="message">Your message:</label><br />
        <textarea id="message" class="form-control" name="message" rows="7" cols="30"></textarea><br />

    </div>
    <input id="submit_button" type="submit" value="Send email" />
</form>