<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="assets/images/sample.jpg" id="book-cover" alt="...">
      <div class="caption">
        <h3>Brave New World</h3>
        <h4>Aldous Huxley</h4>
        <p>THIS IS SAMPLE BOOK DETAILS PAGE (this is NOT the book gallery thumbnails page) (template with handlebars will be ccreated
				later in /views) All buttons / designs / colors are just temp for testing purposes
				<br>
				<br> {{this.review}} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh ligula, malesuada sit amet finibus
				sit amet, euismod ut lorem. Maecenas convallis odio vel turpis feugiat, id pellentesque sapien tincidunt.</p>

        <p>
        <a href="#" class="btn btn-primary" role="button">Button</a> 
        <a href="#" class="btn btn-default" role="button">Button</a>
        </p>
      </div>
    </div>

    <div class="thumbnail">
      <img src="assets/images/sample.jpg" id="book-cover" alt="...">
      <div class="caption">
        <h3>Brave New World</h3>
        <h4>Aldous Huxley</h4>
        <p>THIS IS SAMPLE BOOK DETAILS PAGE (this is NOT the book gallery thumbnails page) (template with handlebars will be ccreated
				later in /views) All buttons / designs / colors are just temp for testing purposes
				<br>
				<br> {{this.review}} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh ligula, malesuada sit amet finibus
				sit amet, euismod ut lorem. Maecenas convallis odio vel turpis feugiat, id pellentesque sapien tincidunt. Suspendisse
				potenti. Donec vitae condimentum purus, ac feugiat ipsum. Morbi condimentum sed augue ut pharetra..</p>

        <p>
        <a href="#" class="btn btn-primary" role="button">Button</a> 
        <a href="#" class="btn btn-default" role="button">Button</a>
        </p>
      </div>
    </div>

    <div class="thumbnail">
      <img src="assets/images/sample.jpg" id="book-cover" alt="...">
      <div class="caption">
        <h3>Brave New World</h3>
        <h4>Aldous Huxley</h4>
        <p>THIS IS SAMPLE BOOK DETAILS PAGE (this is NOT the book gallery thumbnails page) (template with handlebars will be ccreated
				later in /views) All buttons / designs / colors are just temp for testing purposes
				<br>
				<br> {{this.review}} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh ligula, malesuada sit amet finibus
				sit amet, euismod ut lorem. Maecenas convallis odio vel turpis feugiat, id pellentesque sapien tincidunt. Suspendisse
				potenti. Donec vitae condimentum purus, ac feugiat ipsum. Morbi condimentum sed augue ut pharetra..</p>

        <p>
        <a href="#" class="btn btn-primary" role="button">Button</a> 
        <a href="#" class="btn btn-default" role="button">Button</a>
        </p>
      </div>
    </div>

  </div>
</div>