<div class="jumbotron">
	<div class="container">
		<div class="wrapper">
		<h1>French Connection <br/>E-Library</h1>
		    <p>Open source interactive e-library project</p>
		    <p><a class="btn btn-primary btn-lg" href="#/library" role="button"><span class="fui-bookmark"></span> Explore the Library</a>
		    <a class="btn btn-primary btn-lg" href="#/library/top" role="button"><span class="fui-document"></span> Top books</a>
		    <a class="btn btn-primary btn-lg" href="https://github.com/TelerikFrenchConnection/JS-Applications-Teamwork" role="button" target="_blank"><span class="fui-github"></span> Repository</a></p>
	    </div>
    </div>
</div>
<div class="container-fluid wrapper ">
    <div class="latest-books">
        <h4>Latest books in our collection</h4>
        <hr/>
    </div>
    <div class="row" id="library-content" class="row">
    </div>
</div>