<div class="container-fluid wrapper">
    <div id="library-content" class="row">
        <h1>Search from all books</h1>
        <form id="search-form" class="form-group" action="#/library/search" method="get">
            <input type="textarea" id="search-term"class="form-control contact-field" value="" placeholder="Enter your search term here" id="library-search">
            <label>Filter by:</label>
            <select id="search-filter" class="bootstrap-select">
                <option value="title" selected="selected">Title</option>
                <option value="author">Author</option>
                <option value="description">Description</option>
                <option value="category">Category</option>
            </select>
          <button type="submit">Search</button>
        </form>
    </div>
</div>