<div class="container-fluid wrapper">
    <div class="row" id="library-content" class="row">
		<div>
            <strong>Category: </strong>
            <select id="book-category">
                <option value="Fantasy" selected="selected">Fantasy</option>
                <option value="Sci-Fi">Sci-Fi</option>
                <option value="Comedy">Comedy</option>
                <option value="Comics">Comics</option>
                <option value="Drama">Dramma</option>
                <option value="Thriller">Thriller</option>
                <option value="Programming">Programming</option>
            </select>
        </div>
    </div>
</div>