<div class="container-fluid wrapper">
    <div class="row" id="library-content" class="row">
		<div class="category-select">
            <strong>Select book category:</strong>
            <select class="bootstrap-select" id="book-category">
                <option value="All">All</option>
            </select>
            <hr/>
        </div>
        <div class="books-list">

        </div>
    </div>
    <hr/>
    <div class="pagination">
        <ul style="margin: 0 auto;">

        </ul>
    </div>
</div>