<!DOCTYPE html>
<html>

<head>
	<title>Sample Book Details Page</title>
	<link rel="stylesheet" type="text/css" href="../assets/styles/book-details.css">
</head>

<body>

	<div class="box">
		<div class="inner">
			<p>
				<img alt="sample image" src="../assets/images/sample.jpg" width="200" height="300">
			</p>
			<div>
				<h1>Brave New World</h3>
				<h2>Aldous Huxley</h4>
				<p class="book-review">
				{{this.review}} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh ligula, malesuada sit amet finibus sit amet, euismod ut lorem. Maecenas convallis odio vel turpis feugiat, id pellentesque sapien tincidunt.
				 Suspendisse potenti. Donec vitae condimentum purus, ac feugiat ipsum. Morbi condimentum sed augue ut pharetra. Curabitur sit amet sem pretium, venenatis ex sit amet, volutpat velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
				</p>
			</div>
		</div>	
	</div>	

	<div id="book-content"></div>
	<script id="book-content-template" type='text/x-handlebars-template'>
		
	</script>
</body>
</html>