<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{this.attributes.url}}" id="book-cover" alt="{{this.attributes.title}}">
      <div class="caption">
        <h3>{{this.attributes.title}}}</h3>
        <h4>{{this.attributes.author}}</h4>
        <p>{{this.attributes.description}}</p>

        <p>
        <a href="#" class="btn btn-primary" role="button">Button</a> 
        <a href="#" class="btn btn-default" role="button">Button</a>
        </p>
      </div>
    </div>
  </div>
</div>