<div class="col-md-4 col-sm-4 col-xs-6 category-item">
	<div  class="category-header">
		<h4>{{this.category}}</h4>
	</div>
	<img src="{{this.picUrl}}" class="img-responsive center-block" data-category="{{this.category}}"/>
</div>