<div class="col-md-3 col-sm-3 col-xs-6 category-item">
	<div  class="category-header">
		<h5>{{this.category}}</h5>
	</div>
	<img src="{{this.picUrl}}" class="img-responsive center-block" data-category="{{this.category}}"/>
</div>