<ul class="nav navbar-nav navbar-left">
    <li><a href="#/library">Library</a></li>
    <li><a href="#/library/search">Search</a></li>
    <li><a href="#/contact">Contacts</a></li>
    {{#if this.attributes.isAdmin}}<li><a href="#/admin">Admin</a></li>{{/if}}
</ul>

<ul class="nav navbar-nav navbar-right">
    {{#if this.attributes.username}}
    <li><a href="#/home">Hi, {{this.attributes.firstName}}!</a></li>
    <li><a href="#/account/logout">Logout</a></li>
    {{else}}
    <li><a href="#/account/login" >Log in</a></li>
    <li><a href="#/account/signup">Sign Up</a></li>
    {{/if}}
</ul>