body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, img, input, li, ol, p, textarea, ul {
    margin: 0;
    padding: 0;
    border: 0
}

.wrapper {
	width: 1100px;
	max-width: 75%;
	margin: 0 auto;
}

.wrapper-nav {
	width: 1100px;
	max-width: 75%;
	margin: 0 auto;
}

#content {
	margin: 0px auto;
}

.login {
	padding : 0;
	margin-bottom: 0;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-brand {
	margin-right: 15px;
}

.btn-lg, .btn-group-lg > .btn {
	margin: 5px;
}

.demo-row {
	margin-bottom: 0;
}

.jumbotron {
	margin-bottom: 0;
	text-align: center;
}

.jumbotron p {
    margin: 10px 0;
}

.footer-bar {
	color: #34495E;
	padding: 13px;
}

.login-screen {
	padding: 60px 0;
}

.login-form {
	max-width: 90%;
	width: 500px;
	margin: 0 auto;
}
.contact-screen {
	padding: 80px 0;
}

.contact-form {
	max-width: 90%;
	width: 500px;
	margin: 0 auto;
}

.navbar-nav > li > a {
    padding: 15px 13px;
}

.footer-link {
    padding: 0 3px;
}

@media screen and (max-width: 930px) {
  .wrapper-nav {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	}
}
#library-content {
	max-width: 90%;
	margin: 0 auto;
}
#library-content .inner {
	display: inline-block;
	text-align: center;
	margin-top: 3%;
	width: 30%;
	height: 30%;
}
#library-content .inner .gallery-image {
	margin: 0 auto;
	cursor: pointer;
}

.detail-wrapper {
	padding: 48px 60px;
}
.contact {
	background-color: #1abc9c;
}
.contact-screen {
	padding: 0px;
}
.contact-form {
    position: relative;
    padding: 20px;
    background-color: #edeff1;
    border-radius: 6px;
}
.contact-field {
	font-size: 17px;
	text-indent: 3px;
	border-color: transparent;
}
.contact-form .contact-field-icon {
  position: absolute;
  top: 3px;
  right: 15px;
  font-size: 16px;
  color: #bfc9ca;
  -webkit-transition: all .25s;
          transition: all .25s;
  }