textarea:focus, input:focus, select:focus{
    outline: 0;
}

body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, img, input, li, ol, p, textarea, ul {
    margin: 0;
    padding: 0;
    border: 0
}

h5 {
    font-size: 1.4em;
}

hr {
    border-bottom: 2px solid #eee;
    margin-top: 10px;
    margin-bottom: 10px;
}

html, body {
    width: auto !important;
    overflow-x: hidden !important;
}

#map {
    width: 300px;
    height: 400px;
}

.wrapper {
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;
}

.wrapper-nav {
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;
}

#content {
    margin: 0 auto;
}

.login {
    padding: 0;
    margin-bottom: 0;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand {
    margin-right: 15px;
}

.btn-lg, .btn-group-lg > .btn {
    margin: 5px;
}

.demo-row {
    margin-bottom: 0;
}

.jumbotron {
    margin-bottom: 0;
    text-align: center;
}

.jumbotron p {
    margin: 10px 0;
}

.footer-bar {
    color: #34495E;
    padding: 13px;
}

.login-screen {
    padding: 70px 0;
    min-height: 200px;
}

.login-form {
    max-width: 90%;
    width: 500px;
    margin: 20px auto;
}

.contact-screen {
    padding: 80px 0;
}

.contact-form {
    max-width: 90%;
    width: 500px;
    margin: 0 auto;
}

.navbar-nav > li > a {
    padding: 15px 13px;
}

.footer-link {
    padding: 0 3px;
}

#not-found {
    text-align: center;
}

#not-found h2 {
    margin: 15px 15px 0 15px;
}

#not-found h4 {
    margin-bottom: 25px;
}

@media screen and (max-width: 930px) {
    .wrapper-nav {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
}


#library-content {
    text-align: center;
    max-width: 97%;
    margin: 20px auto;
    margin-bottom: 0;
}

#library-content .category-select {
    margin-bottom: 15px;
}

#library-content .category-select select {
    border-color: #ddd;
}

#library-content .library-item {
    margin: 20px 0;
}

#library-content .library-item h6{
    font-weight: bold;
}

#library-content .library-item .library-header {
    height: 55px;
}

#library-content .library-item .img-responsive {
    width: 200px;
    max-width: 200px;
    height: 2850px;
    max-height: 285px;
    cursor: pointer;
}

.detail-wrapper {
    padding: 20px 40px;
}

.book-details-title {
    display: inline-block;
    font-weight: normal;
    margin-right: 5%;
}

.book-details-entry {
    margin: 6px;
}


.latest-books {
    text-align: center;
}

.latest-books h4 {
    margin-top: 18px;
}

#search-form {
    width: 100%;
}

.search-header h5 {
    text-align: right;
}

.search-header div {
    text-align: left;
}
#search-form input {
    margin-top: 5px;
    width: 83%;
    float: left;
    margin-bottom: 25px;
}

#search-form button {
    width: 15%;
    padding: 8px 15px 9px 15px;
    margin-bottom: 25px;
}

.search-padding {
    padding: 5px;
}

#library-content select {
    border-color: #ddd;
}

#book-cover {
    float: right;
    margin-right: 7px;
}

.book-details-entry {
    margin: 0;
}

.book-details-views {
    margin-top: 5px;
}

.book-description {
    text-align: left;
    font-size: 13px;
}

.twitter-share-button {
    margin-top: 5px;
}

.contact {
    background-color: #1abc9c;
}

.contact .contact-screen {
    padding: 0;
}

.contact .contact-form {
    margin: 20px 0;
    position: relative;
    padding: 20px;
    background-color: #edeff1;
    border-radius: 6px;
    float: right;
}

.contact .contact-form .contact-field {
    font-size: 17px;
    text-indent: 3px;
    border-color: transparent;
}

.contact .contact-form .contact-field-icon {
    position: absolute;
    top: 3px;
    right: 15px;
    font-size: 16px;
    color: #bfc9ca;
    -webkit-transition: all .25s;
    transition: all .25s;
}

.contact .contact-info {
    width: 30%;
    margin-top: 10px;
}

.admin-root {
    display: inline-block;
    width: 90%;
    margin-left: 15%;
}

.admin-root .admin-controls {
    display: inline-block;
    width: 20%;
    padding-right: 5px;
}

.admin-root .admin-controls .btn {
    padding: 3px;
    overflow: hidden;
}

.admin-root .admin-controls h6.text-center {
    padding: 2%;
    margin-left: 5px;
    margin-top: 5px;
    border: 1px solid #34495E;
    border-radius: 5px;
    overflow: hidden;
}

.admin-root .admin-forms-container {
    display: inline-block;
    width: 75%;
    margin-left: 2%;
}

.remove-book.login {
    margin: 0;
    padding: 0;
}

.remove-book-screen.login-screen {
    background-color: white;
    padding-top: 2%;
}

.remove-book-form.login-form {
    border: 1px solid #34495E;
    border-radius: 5px;
    margin: 0;

}

.remove-book.login .remove-book-form .remove-book-heading {
    color: #34495E;
}

.remove-book.login .remove-book-form .remove-control {
    text-indent: 3px;
    border: 1px solid #34495E;
}

.contact .contact-info {
    padding-top: 10px;
    font-size: 0.8em;
}
.contact .contact-info .list-group .list-group-item {
    overflow: hidden;
}
.contact .contact-info .list-group .list-group-item p {
    font-size: 0.8em;
}
#frack-label {
    color: #2C3E50;
}
#search-filter {
    color: #2C3E50;
}


#categories-content {
    text-align: center;
    max-width: 97%;
}

#categories-content .category-item {
    margin: 20px 0;
}

#categories-content .category-item h5{
    font-weight: bold;
}

#categories-content .category-item .category-header {
    height: 35px;
}

#categories-content .category-item .img-responsive {
    width: 190px;
    max-width: 190px;
    height: 275px;
    max-height: 275px;
    cursor: pointer;
}

.description-breaker {
    text-align: right;
    width: 75%;
}