body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,img,input,li,ol,p,textarea,ul{
    margin:0;
    padding:0;
    border:0
}
body .wrapper {
    width: 920px;
    margin:0px auto;
}
body {
    font-family: Consolas;
    font-size: 18px;
}
#menu .nav .nav-pills{
    color: black;
}
div#add-book {
    width: 240px;
    height: 340px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 15px;
}
#add-book h3 {
    padding-left: 24px;
}
.form-control{
    display: block;
    margin-bottom: 4px;
}